.mainVideo{
    display:flex;
    justify-content: center;
    height: 500px;

}

.videoTag{
    width:100%;
}

.centerGrid{
    text-align: center;
    font-size: 17pt;
    font-variant: initial;
    margin: 0px 50px 75px 50px;
}

.title{
    /* color: #3b92dd; */
    text-align: center;
    font-size: 60px;
}

.bigButton{
   text-align: center;
   padding-bottom: 10px;
}

.top{
    padding-top: 10%;
}
