
.demoPics {
    margin-right: 30px;
    margin-left: 30px;
}

.titleText{
    /* color: #3b92dd; */
    text-align: center;
    width:100%;
    font-size: 60px;
    padding-top: 40px;
}

.bottomText{
    /* color: #3b92dd; */
    text-align: left;
    font-size: 20px;
    margin-right: 60px;
    margin-left: 60px;
    padding-top: 60px;
}